html {
    font-family: sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Full viewport height */
    margin: 0;
    background-color: #212121;
  }
  
  #wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 450px;
    height: 550px;
    background-color: #474747;
    color: #fff;
    font-size: 25px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  }
  
  /* Ensure input and buttons are centered */
  #guessField,
  button {
    display: block;
    margin: 10px auto;
  }
  
  h1 {
    background-color: #161616;
    color: #fff;
    padding: 10px;
    width: 100%;
  }
  
  p {
    font-size: 16px;
    text-align: center;
  }
  